.DS_Store
!.gitkeep
**.classpath
**.project
**/bin/
**.class

target/

*.bak
bin/
*.iml
*.ipr
*.iws
.idea
.idea/
.classpath
.project
.settings/
.DS_Store
.springBeans
.externalToolBuilders/


*.versionsBackup
.factorypath
